header {
    background-color: #e64f5e;
    padding: 30px;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cards{
    margin: 10px 10px 0px 0px;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}